{% extends 'base.html.twig' %}

{% block title %}Alumno{% endblock %}

{% block body %}
    <h1>Alumno</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ alumno.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ alumno.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ alumno.apellido }}</td>
            </tr>
            <tr>
                <th>Correo</th>
                <td>{{ alumno.correo }}</td>
            </tr>
            <tr>
                <th>Dni</th>
                <td>{{ alumno.dni }}</td>
            </tr>
            <tr>
                <th>Cuil</th>
                <td>{{ alumno.cuil }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_alumno_index') }}">back to list</a>

    <a href="{{ path('app_alumno_edit', {'id': alumno.id}) }}">edit</a>

    {# <a href="{{ path('app_alumno_inscripcion', {'id': alumno.id}) }}">inscribir</a> #}

    <a href="{{ path('app_alumno_notas', {'id': alumno.id}) }}">notas</a>

    <a href="{{ path('app_alumno_inscribir_curso', {'id': alumno.id}) }}">inscribir</a>

    {{ include('alumno/_delete_form.html.twig') }}
{% endblock %}
